.commentarea {
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  background: blanchedalmond;
}

.post {
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  background: rgb(183, 202, 191);
}

#postarea {
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
  background: rgb(174, 206, 206);
}